.body{
    background-color: #f9f9f9;
}

.patient-form{
    height: 100vh;
    width: 60%;
    background-color: white;
}

.back-btn-top {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 1px solid #01bce9;
    border-radius: 5px;
    padding: 9px 12px 9px 8px;
    color: #01bce9;
    gap: 4px;
}

.patient-info{
    font-weight: 500;
    font-size: 20px;
}