.body{
    background-color: #f9f9f9;
}

.container-fluid{
    width: 80%;
    background-color: white;
}

.top-text{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #01bce9;
    font-weight: 700;
}

.row1-flex{
    display: flex;
    justify-content: space-between;
}



input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }


  .custom-date-input {
    position: relative;
    display: inline-block;
    width: 100%;
  }


  .custom-date-input .custom-date-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding-right: 10px;
  }

  .inc-height{
    height: 92px;
  }

  .inc-inp-height{
    height: 75px!important;
  }