body{
    position: relative;
}

.moon-flex{
    position: absolute;
    top: 7px;
    right: -26px;
}

.theme-btn{
    display: none;
}

.moon{
    border: 0.5px solid rgba(83, 67, 67,0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 8px;
}

.sun{
    display: none;
    border: 0.5px solid white;
    border-radius: 5px;
    margin: 7px;
    padding: 1px;
}