<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{36} - %msg%n" />
        </Console>
    </appenders>

    <loggers>
        <root level="info">
            <appenderRef ref="ConsoleAppender" />
        </root>
    </loggers>
</configuration>