.form-group {
    position: relative;
    margin-bottom: 10px;
}

.search-box {
    position: relative;
}

.form-group input , .form-group select, .form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    outline: none;
}

.form-group textarea{
    resize: none;
}

.form-group select{
    color: #7a7878;
    font-size: 14px;
}

.select-label-float .form-group label{
    top: -6px;
    font-size: 12px;
    color: #3750eb;
    background-color: #ffffff;
    padding: 0 4px;
    border-radius: 4px;
    left: 8px;
    color: #777;
}

.form-group label {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 14px;
    color: #777;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.search-box i {
    position: absolute;
    z-index: 1;
    font-size: 24px;
    top: 10px;
    right: 6px;
    color: #777;
}

.form-group input:focus , .form-group textarea:focus, .form-group select:focus {
    border-color: #3750eb;
    outline: none;
}

.form-group input:focus ~ label, .form-group select:focus ~ label, .form-group textarea:focus ~ label {
    top: -6px;
    font-size: 12px;
    color: #3750eb;
    background-color: #ffffff;
    padding: 0 4px;
    border-radius: 4px;
    left: 8px;
}

.form-group input:not(:placeholder-shown) ~ label, .form-group textarea:not(:placeholder-shown) ~ label {
    top: -6px;
    font-size: 12px;
    color: #777;
    background-color: #ffffff;
    padding: 0 4px;
    border-radius: 4px;
    left: 8px;
}

/*Search Box css over*/

.theme-btn-clr{
    background-color: #3705eb;
    border: 1px solid #3705eb;
    color: white;
    border-radius: 8px;
    padding: 6px 12px;
}

.error-class{
    color: #f43f3f;
    padding-left: 5px;
}

.notes-flex-create-plan{
    padding-left: 16px !important;
    font-size: 14px;
    color: #777;
}

.modal#statusSuccessModal .modal-content,
.modal#statusErrorsModal .modal-content {
    border-radius: 30px;
}

.success-message-modal, .failure-message-modal{
    color: black!important;
    font-weight: 500;
}


.modal#statusSuccessModal .modal-content svg,
.modal#statusErrorsModal .modal-content svg {
    width: 100px;
    display: block;
    margin: 0 auto;
}
.modal#statusSuccessModal .modal-content .path,
.modal#statusErrorsModal .modal-content .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}
.modal#statusSuccessModal .modal-content .path.circle,
.modal#statusErrorsModal .modal-content .path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
}
.modal#statusSuccessModal .modal-content .path.line,
.modal#statusErrorsModal .modal-content .path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.95s 0.35s ease-in-out forwards;
    animation: dash 0.95s 0.35s ease-in-out forwards;
}
.modal#statusSuccessModal .modal-content .path.check,
.modal#statusErrorsModal .modal-content .path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.95s 0.35s ease-in-out forwards;
    animation: dash-check 0.95s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 1000;}
    100% {
        stroke-dashoffset: 0;
    }
}
@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}
@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}
.box00{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/*success - faliure modal over*/

.new-filter-btn-flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.create-plan-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background: #3750eb;
    color: #ffffff;
    border-radius: 6px;
    margin: 0 0 15px 0;
}

.create-plan-container h6 {
    margin-bottom: 0px;
}

.create-plan-container button {
    padding: 3px 10px;
    background: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    color: #000000;
}

.new-plan-header{
    border-bottom: none;
    background-color: #3705eb;
    color: white;
    border-radius: 15px 15px 0 0;
}

.new-plan-footer{
    border-top: none;
}

.new-plan-close-btn{
    filter: invert(1);
}

.confirm-postpaid-recharge-service-main-content{
    border-radius: 18px;
}

.confirm-postpaid-recharge-service-main-content .modal-body{
    padding: 20px 0px;
}

.confirm-postpaid-recharge-service-main-header{
    padding: 0px;
    width: 100%;
}

.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

header span {
    font-size: 21px;
    font-weight: 600;
}

header .close {
    color: black;
    font-size: 17px;
    background: white;
    height: 33px;
    width: 33px;
    cursor: pointer;
}
header .close, .icons a {
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

button {
    background-color: #3750eb;
    padding: 6px 12px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: background 0.1s linear, border-color 0.1s linear, color 0.1s linear;
}

.confirm-postpaid-recharge-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 25px 15px 25px;
    background-color: #3750EB;
    border-radius: 15px 15px 0px 0px;
    color: white;
}

.content p {
    font-size: 14px;
    color: black;
    font-weight: 500;
}


.content{
    padding: 0px 25px 0px 25px;
}


.view-modal, .popup{
    position: absolute;
    left: 50%;
}

.swiper-slide{
    width: unset;
}

.cupon-code-error{
    color: red;
    font-size: 12px;
    padding-left: 115px;
}

.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}
.fade-scale.in {
    opacity: 1;
    transform: scale(1);
}
.fade-scale .modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) !important;
}

.applied-btn{
    color: white;
    background-color: red;
    padding: 6px 12px;
    border: 0px;
    width: 80px;
    border-radius: 25px;
    transform: scale(0.62) translateX(-10px);
}
.verify-code, .remove-cupon{
    color: #0d336a;
    font-size: 13px;
    position: absolute;
    top: 2px;
    right: 0px;
}

.add-cupon-text{
    text-wrap: nowrap;
}

.cupon-text-code-flex{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.accordion-button:not(.collapsed) {
    border: none;
    box-shadow: none;
}

.cupon-code-input{
    outline: none;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid lightgrey ;
}

.recharge-plan-modal-body .accordion-item{
    border: none;
}

.pay-now{
    border: 1px solid #3750eb;
    border-radius: 25px;
    padding: 6px 12px;
    width: 125px;
    color: white;
    background-color: #3750eb;
}

.final-price-div{
    margin-top: 20px;
}

.final-price-div .summary-title{
    font-size: 20px;
}

.final-price-div .summary-value-flex{
    transform: scale(1.24);
}

.wallet-right-side{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.amount-input::placeholder {
    text-align: right;
    padding-left: 10px;

}

.amount-input{
    overflow: none;
    width: 80px;
    border: 0px;
    outline: none;
    border-bottom:  1px solid lightgray;
}

.amount-input:focus-visible {
    border-bottom:  1px solid lightgray;
}

.wallet-total-amount-span{
    display: flex;
    justify-content: flex-start;
    margin-left: -5px;
}

.wallet-balance-flex{
    display: flex;
    position: relative;
    text-wrap: nowrap;
}

.avaiable-amount-text{
    width: 100%;
    position: absolute;
    top: -15px;
    left: 0px;
    font-size: 13px;
}

.wallet-wallet-icon{
    height: 33px;
    width: auto;
}

.wallet-left-side{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: end;
}


.wallet-card{
    margin-top: 15px;
    width: 100%;
}

.wallet-details-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.final-price-flex{
    margin-top: -15px;
}

.summary-recharge-hr{
    width: 100%;
    margin-top: 0px;
    border: 1px solid black;
}

.recharge-summary-top{
    display: flex;
    justify-content: center;
}

.summary-value-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.summary-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    width: 100%;
}

.summary-row-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    row-gap: 10px;
}

.recharge-plan-modal-header .btn-close{
    padding-top: 20px;
}

.recharge-summary-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
    padding: 0px 20px 0px 20px;
}

.plan-details-view-btn{
    font-size: 16px;
    padding: 6px 20px;
}

.recharge-plan-modal .btn-close{
    filter: invert(99%) sepia(1%) saturate(3%) hue-rotate(193deg) brightness(200%) contrast(100%);
}

.recharge-plan-modal-header{
    background-color: #3750eb;
    color: white;
}

.modal-footer view-plan-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-recharge-button{
    padding: 6px 12px;
    border-radius: 25px;
    color: white;
    background-color: #3750eb;
    border: 1px solid #3750eb;
    width: 150px;
    font-size: 18px;
}

.notes-text-modal{
    font-size: 15px;
    margin-bottom: 4px;
}

.notes-flex{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 15px;
}

.notes-flex span{
    font-size: 11px;
    color: #7d7d7d;
}

.relative-class{
    position: relative;
}

.astreik-class{
    position: absolute;
    top: -7px;
    right: -10px;
}

.plan-detials-modal-text{
    font-size: 20px;
    padding-bottom: 10px;
}

.view-plan-body{
    padding: 37px;
    padding-bottom: 0px;
}



.view-plan-header{
    border: 0px;
    padding: 25px 25px 0px 25px;
}

.modal-amount-icon-flex{
    padding-top: 25px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: scale(2);
}

.always-open .accordion-collapse {
    display: block;
}

.accordion-item-container .accordion-item{
    border: 0px;
}

.accordion-button-custom{
    padding-left: 12px;
    padding-right: 0px;
}

.chevron-arrows{
    transition: transform 0.5s ease-in-out;
    height: 22px;
    width: auto;
}

.chevron-arrows.rotated {
    transform: rotate(180deg);
}

.view-more-icon-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.category-name-card{
    font-size: 28px;
    font-weight: 600;
}

.category-name-view-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recharge-cards-row >:nth-child(n+4) {
    display: none;
}

.accordion-collapse {
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.accordion-collapse.collapse {
    height: 0;
    opacity: 0;
}

.accordion-collapse.show {
    height: auto;
    opacity: 1;
}

.plan-data-items .accordion-btn{
    background-color: transparent;
}

.plan-data-items .accordion-body{
    padding-left: 0;
    padding-right: 0;
}

.plan-data-items{
    background-color: transparent;
    /*margin-bottom: 7px;*/
    /*box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */

}


.filter-count {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background-color: #f24b4b;
    color: white;
    position: absolute;
    top: -4px;
    right: -4px;
}
.apply-filter-btn{
    background-color: #3750eb;
}

.apply-filter-btn:hover{
    background-color: #0e2ad3;
}

.clear-filter-btn{
    border: 1px solid #3750eb;
    background-color: transparent;
    color: #3750eb;
}

.clear-filter-btn:hover{
    border: 1px solid #3750eb;
    background-color: #3750eb;
    color: white;
}

.modal-footer{
    justify-content: center;
}

.validity-row .accordion-body, .charge-row .accordion-body{
    padding-left: 0px;
    padding-right: 0px;
}

.amount-rs-icon-flex{
    display: flex;
    align-items: center;
}

.only-amount-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.justify-col{
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 575px) {
    .col-xs{
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 410px) {
    .col-xs{
        display: flex;
        justify-content: flex-start;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.accordion-button::after, .accordion-button:not(.collapsed)::after {
    background-image: none; /* Reset the default icon */
}

.accordion-button.custom-icon::after {
    content: url("/uninor/resources/icons/minus-animated.svg"); /* Custom down arrow icon */
    transform: scale(1.2);
    filter: invert(16%) sepia(52%) saturate(2131%) hue-rotate(198deg) brightness(90%) contrast(106%);
}

.accordion-button.custom-icon.collapsed::after {
    content: url("/uninor/resources/icons/plus-animated.svg");
    filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(17deg) brightness(113%) contrast(114%);
    transform: scale(1.2);
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: transparent;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.modal-filter-icon{
    height: 30px;
    width: auto;
}

.modal-filter-plans{
    font-size: 22px;
}

.main-modal-container{
    padding: 15px;
}

.modal-filter-icon-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
}

.modal-content {
    border-radius: 20px;
}

/* Checkbox Input */
.checkbox-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #ddd;
    transition: 0.3s;
    border-radius: 4px;
}

.checkbox-btn span::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 12px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: scale(0) rotate(-45deg);
    position: relative;
    bottom: 4px;
    transition: 0.6s;
}

.checkbox-btn input {
    display: none;
}

.checkbox-btn input:checked ~ span {
    background-color: #3750eb;
}

.checkbox-btn input:checked ~ span::before {
    transform: scale(0.65) rotate(-45deg);
}

.checkbox-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
    gap: 10px
}

.filter-icon-flex{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #242424;
}

.filter-btn{
    position: absolute;
    top: 3px;
    right: 69px;
    /*border: 1px solid #9daaf9;*/
    border: 1px solid #242424;
    border-radius: 25px;
    padding: 6px 14px 3px 16px;
}

.filter-btn:hover{
    background-color: #3750eb;
    border: 1px solid #3750eb;
}



.filter-btn:hover .filter-text{
    color: white;
}

.filter-btn:hover img{
    filter: invert(97%) sepia(97%) saturate(10%) hue-rotate(153deg) brightness(102%) contrast(103%);
}


.filter-text{
    font-size: 18px;
}

.filter-icon{
    height: 22px;
    width: auto;
}

.recharge-text{
    position: absolute;
    top: 3px;
    left: 63px;
    font-size: 30px;
    font-weight: 600;
    color: #242424;
}

.swiper-navBtn{
    display: none;
}

.swiper-wrapper{
    height:auto;
}

.swiper-wrapper .swiper-slide{
    background-color: transparent;
    border: 0px;
}

.slide-container{
    /*max-width: 1120px;*/
    position: relative;
    width: 80%;
    padding: 0 0 52px 0;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 38px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #4070F4;
}

@media screen and (max-width: 767px) {

    .accordion-button-custom {
        padding-left: 12px;
    }
}

@media screen and (max-width: 768px) {

    .accordion-button-custom{
        padding-left: 0px;
    }

    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
    .slide-content{
        overflow: visible;
    }

}

.swiper-slide .validity-data-flex{
    gap: 20%;
}

.view-plan-text{
    cursor: pointer;
}

.view-plan-text:hover{
    color: #00005c;
    transform: scale(1.1);
    transition: 0.7s ease-in-out;
}

.view-btn{
    border: 0;
    border-radius: 15px;
    background: linear-gradient( 140deg, #42c3ca 0%, #42c3ca 50%, #42c3cac7 75% ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
}

.amount-view-btn-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recharge-container{
    width: 75%;
}

.rs-amount-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.validity-data-flex{
    display: flex;
    justify-content: flex-start;
    gap: 30%;
    padding-left: 5px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.validity-flex{
    display: flex;
    flex-direction: column;

}

.i-icon-recahrge{
    height: 22px;
}

.ui-tooltip {
    background: #f6f6f6;
    border: 1px solid #ccc;
    color: #333;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
}
.center-recharge-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section_our_solution .row {
    align-items: center;
}

.our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solution_cards_box{
    height: 100%;
}
.solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100%;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
    background: #309df0;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;

}

.solution_cards_box .solution_card:hover .rs-amount-flex img{
    filter: invert(97%) sepia(97%) saturate(10%) hue-rotate(153deg) brightness(102%) contrast(103%);
}

.solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
}

.solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
    background: #fff !important;
    color: #309df0;
}

.solution_card .so_top_icon {
}

.solution_card .solu_title h3 {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
}

.solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
}

.solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    background: #3750eb;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
}

.our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
.our_solution_content p {
}

.hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 4rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
}

/*start media query*/

@media screen and (max-width: 1504px){
    .responsive-card .validity-data-flex{
        gap: 30px;
    }

    .recharge-container{
        width: 90%;
    }

    .slide-container{
        width: 97%;
    }
}

@media screen and (max-width: 1146px){
    .responsive-card .validity-data-flex{
        gap: 20px;
    }

    .recharge-container{
        width: 100%;
    }

    .slide-container{
        width: 100%;
    }

    .slide-content{
        margin: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .sol_card_top_3 {
        position: relative;
        top: -3rem;
    }
    .our_solution_category {
        margin: 0 auto;
    }

    .filter-btn{
        right: 25px;
    }

    .recharge-text{
        left: 25px;
    }
}

@media screen and (max-width: 768px) {
    .our_solution_category .solution_cards_box {
        flex: 1;
    }

    .recharge-container{
        width: 100%;
    }

    .responsive-card .validity-data-flex{
        gap: 29px;
    }

    .recharge-cards-row .col-12{
        margin-top: 10px;
    }

    .filter-btn{
        right: 10px;
    }

    .recharge-text{
        left: 12px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 768px){
    .recharge-cards-row .col-12{
        padding-left: 0px;
        padding-right: 0px;
    }

    .swiper-slide .col-12{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 575px) {
    .responsive-card .validity-data-flex{
        gap: 30%
    }
}


@media screen and (min-width: 576px) {
    .recharge-plan-modal-dialog{
        max-width: 600px;
    }
}

@media screen and (max-width: 515px) {
    .recharge-text{
        font-size: 25px;
        top: 15px;
        left: 25px
    }

    .filter-btn{
        transform: scale(0.85);
        top: 16px;
        right: 20px;
    }

    .category-name-view-flex{
        flex-direction: column;
        align-items: baseline;
        row-gap: 10px;
        padding-left: 15px;
    }

    .category-name-card{
        font-size: 25px;
    }

    .plan-data-items .accordion-body{
        padding-top: 0px;
    }

    .accordion-button-custom{
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 425px) {

    .slide-container{
        padding-bottom: 36px;
    }

    .accordion-button-custom{
        padding-top: 0;
    }

    .recharge-text {
        left: 28px;
        top: -1px;
        font-size: 26px;
    }

    .filter-text{
        display: none;
    }

    .filter-btn{
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 2px;
    }

    .filter-count{
        right: -10px;
    }

    .filter-icon{
        height: 24px;
    }

    .category-name-card{
        font-size: 20px;
    }
}


@media screen and (max-width: 376px) {
    .table-view-plan td{
        font-size: 15px;
    }

    .view-plan-body{
        padding: 25px;
    }

    .modal-amount-icon-flex {
        padding-top: 25px;
        padding-left: 7px;
        transform: scale(1.70);
    }
}

@media screen and (min-width: 320px) {
    .sol_card_top_3 {
        position: relative;
        top: 0;
    }

    .our_solution_category {
        width: 100%;
        margin: 0 auto;
    }

    .our_solution_category .solution_cards_box {
        flex: auto;
    }
}
