@charset "ISO-8859-1";

.toaster {
	box-sizing: border-box !important;
	display: none;
	position: absolute;
	top: 25px;
	right: 30px;
	border-radius: 6px;
	background: #fff;
	padding: 20px 35px 20px 25px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transform: translateX(calc(100% + 30px));
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);

}

.toast{
	z-index: 9999;
}

.toaster.active {
	transform: translateX(0);
}

.toaster-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.toaster-check {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 35px;
	background-color: #01bce9;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
}

.message {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}

.message-text {
	font-size: 20px !important;
	font-weight: 600 !important;
}

.text-1 {
	color: #333;
}

.text-2 {
	color: #666;
	font-weight: 400 !important;
	font-size: 16px !important;
}

.toaster-close {
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 5px;
	cursor: pointer;
	opacity: 0.7;
}

.toaster-close:hover {
	opacity: 1;
}

.progress {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px !important;
	width: 100%;
	background: #ddd;
}

.progress::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100% !important;
	width: 100%;
	background-color: #01bce9;
}

.progress.active::before {
	animation: progress 5s linear forwards;
}

@keyframes progress { 100%{
	right: 100%;
}

}
.toaster-btn {
	padding: 10px 40px;
	font-size: 20px;
	outline: none;
	border: none;
	background-color: #01bce9;
	color: #fff;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.3s;
}

.toaster-btn:hover {
	background-color: #01bce9;
}