* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    margin: 0;
    padding-top: 60px; / Adjusted for fixed navbar /
overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
nav {
    background-color: #3750eb;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.waiting-container {
    text-align: center;
    padding: 40px;
    border: 1px solid #dee2e6;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    max-width: 600px;
    margin: auto;
}
.waiting-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.description-text {
    font-size: 1.25rem;
    margin-bottom: 30px;
}
.waiting-animation {
    width: 100px;
    margin: 20px auto;
}
.waiting-animation svg {
    width: 100%;
    height: auto;
    max-width: 100px;
}

.nav-logo {
    height: 55px;
    width: auto;
}

.verification-img{
    height: 100px;
    width: auto;
}

@media screen and (max-width: 768px){
    .description-text{
        font-size: 18px;
    }
}