.top-strip {
	background-color: #326c9b;
	color: white;
	padding: 10px 10px;
}

.modal-book-form {
	background-color: #326c9b;
	color: white;
}

.btm-btns-flex {
	margin-top: 15px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 15px;
}

.save-btn {
	flex-basis: 48%;
	padding: 3px 2px;
	border: 1px solid rgb(82, 81, 81);
	border-radius: 4px;
	background-color: #326c9b;
	color: white;
}

.cancel-btn {
	flex-basis: 48%;
	padding: 3px 2px;
	border: 1px solid whitesmoke;
	border-radius: 4px;
}

.top-row-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-top {
	flex-basis: 30%;
}

.table-class{
	width: 80%;
}